<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjlf.manyjpa.mapper.slave.LoveSlaveMapper">
    <resultMap id="slave" type="com.mjlf.manyjpa.entity.Love">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="findById" parameterType="int" resultMap="slave">
        SELECT id, name from love where id = #{id};
    </select>
</mapper>